@import "../../index.scss";

.App {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    .an-card-enter {
        opacity: 0;
    }
    .an-card-enter-active {
        opacity: 1;
        transition:  1000ms;
    }
}
