@import "../../index.scss";

@mixin buttonColor($color) {
    background-color: $color;

    &:hover {
        background-color: transparentize($color: $color, $amount: 0.2)
    }
}

.Head {
    display: grid;
    grid-template-columns: 8rem 19.2rem;
    column-gap: 1.6rem;
    justify-items: center;
    color: white;

    .Photo {
        height: 8rem;
        width: 8rem;
        grid-row: 1/3;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .Stat {
        margin: .8rem 0;
        width: 17rem;
        display: flex;
        justify-content: space-between;

        .item {
            text-align: center;

            .num {
                font-family: "Netflix Sans Medium";
                font-size: 1.6rem;
                line-height: 2.0rem;
            }

            .text {
                opacity: 0.6;
                font-size: 1.2rem;
                line-height: 1.5rem;
            }
        }
    }

    .Actions {
        display: grid;
        grid-template-columns: 13.4rem 5rem;
        justify-content: space-between;
        gap: .8rem;
        width: 100%;

        button {
            height: 2.4rem;
            border-radius: 10rem;
            transition: .2s;
        }

        .show-message {
            width: 100%;
            margin-right: .8rem;
            padding-bottom: .15rem;
            font-size: 1.4rem;
            font-family: "Netflix Sans Medium";
            color: #ffffff;
            transition: .2s;

            @include buttonColor($accent);
        }

        .follow {
            width: 100%;
            display: flex;
            align-items: center;

            img {
                height: 1.6rem;
                margin-left: 1.94rem;
            }

            @include buttonColor($secondary);

        }

        .unfollowed {
            @include buttonColor($accent);
        }

        .message {
            position: absolute;
            top: 11rem;
            left: 1rem;
            right: 1rem;
            bottom: 1rem;
            background-color: $secondary;
            z-index: 2;
            border-radius: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            padding: 1.6rem;
            text-align: center;

            .close {
                position: absolute;
                top: .3rem;
                right: .3rem;
                height: 2rem;
                width: 2rem;
    
                transform: rotate(45deg);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3rem;
                color: $primary;
                cursor: pointer;
                transition: .2s;
                font-weight: bold;

                &:hover {
                    color: $accent;
                }
            }
        }

        .an-message-enter {
            opacity: 0;
        }
        .an-message-enter-active {
            opacity: 1;
            transition:  500ms;
        }
        .an-message-exit {
            opacity: 1;
        }
        .an-message-exit-active {
            opacity: 0;
            transition: 500ms;
        }
    }

    .an-photo-enter {
        transform: translateX(-200px);
    }
    .an-photo-enter-active {
        transform: translateX(0);
        transition:  500ms;
    }

    .an-stat-enter {
        transform: translateY(-200px);
    }
    .an-stat-enter-active {
        transform: translateY(0);
        transition:  500ms;
    }

    .an-actions-enter {
        transform: translateX(200px);
    }
    .an-actions-enter-active {
        transform: translateX(0);
        transition:  500ms;
    }
}
