@import "../../index.scss";

.About {
    grid-column: 1/3;
    color: #ffffff;

    .title {
        font-size: 2rem;
        font-family:  "Netflix Sans Medium";
        line-height: 26px;
    }

    .subtitle {
        font-size: 1.4rem;
        line-height: 1.8rem;
        opacity: 0.6;
    }

    .info {
        font-size: 1.2rem;
        line-height: 1.7rem;
        margin: .8rem 0;
    }

    .site {
        font-size: 1.2rem;
        line-height: 1.7rem;
        font-family:  "Netflix Sans Medium";
    }


    .an-about-enter {
        transform: translateY(300px);
    }
    .an-about-enter-active {
        transform: translatey(0);
        transition:  500ms;
    }
}
