@import "../../index.scss";

.Card {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 294px;

    background-color: $primary;

    border-radius: 2rem;
    padding: 1.6rem;
    row-gap: 1.6rem;
    grid-template-rows: 8rem 16.6rem;
    overflow: hidden;

    position: relative;
    z-index: 0;
}
