$primary: #191A1D;
$secondary: #2F2F31;
$accent: #5458F7;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Netflix Sans Regular";
    src: url(./fonts/NetflixSans-Regular.ttf);
}

@font-face {
    font-family: "Netflix Sans Bold";
    src: url(./fonts/NetflixSans-Bold.ttf);
}

@font-face {
    font-family: "Netflix Sans Medium";
    src: url(./fonts/NetflixSans-Medium.ttf);
}

 html {
    font-family: "Netflix Sans Regular";
    font-size: 10px;
}

body {
    background-color: $secondary;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: $accent;

    &:visited {
       color: $accent;
    }

    &:hover {
        text-decoration: underline;
    }
}